<footer class="footer-distributed">

    <div class="footer-left">
  
      <h3>SHOE STORE<span><img style="height: 20vh;" src="../../assets/Images/logp.png" alt=""></span></h3>
  
      <p class="footer-links">
        <a href="#" class="link-1">HOME</a>
        <a href="#">COLLECTIONS</a>
        <a href="#">LOGIN</a>
        <a href="#">CONTACT</a>
        <a href="#">REVIEW</a>
      </p>
  
      <p class="footer-company-name">Sell Cart Pvt Ltd © 2020</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>444 S. Cedros Ave</span> Solana , Thiruvalla</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+1.555.555.5555</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">support@company.com</a></p>
      </div>
    </div>
    <div class="footer-right">
  
      <p style="color: white;" class="footer-company-about">
        <span>About the company</span>
        A shoe store is a retail establishment that specializes in selling footwear. These stores can range in size from small boutiques to large chain stores that carry a wide variety of brands and styles. The shoes sold in a shoe store can include sneakers, dress shoes, boots, and more.
      </p>
    </div>
  </footer>
  
